:root {
	--green1: #1e3932;
	--green2: #d4e9e2;
	--green3: #f3f1e7;
	--green4: #008248;
	--green5: #d8e8e3;
	--white: #f1f8f6;
	--white1: #ffffff;
	--black: #000000;
	--orange: #ebdbc8;
}
html {
	font-size: 62.5%;
	font-family: sans-serif;
}
/* header */
.header {
	width: 100%;
}
.header__navbar {
	width: 100%;
	height: 85px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--white1);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav__container--nav1 {
	display: flex;
	align-items: center;
	gap: 30px;
}
.nav__container--nav1:nt {
	font-size: 30px;
}
.nav__container--nav1 img {
	width: 55px;
	height: 55px;
	margin-left: 30px;
}
/* nav */
.nav__container--nav2 {
	display: flex;
	justify-content: end;
	align-items: center;
	padding-right: 40px;
	/* gap: 40px; */
}

.nav__ul--li {
	list-style: none;
	font-size: 1.4rem;
	font-weight: bold;
}
.nav__container--nav2 p {
	font-size: 1.4rem;
	font-weight: bold;
	margin-right: 70px;
}
.nav__button1 {
	text-decoration: none;
	color: var(--black);
	font-size: 1.4rem;
	border: 2px solid black;
	border-radius: 40px;
	padding: 4px 17px;
	font-weight: bold;
	margin-right: 20px;
}
.nav__button2 {
	text-decoration: none;
	color: var(--white);
	background-color: var(--black);
	font-size: 1.4rem;
	border: 2px solid black;
	border-radius: 40px;
	padding: 4px 17px;
	font-weight: bold;
}
/* fin nav */

/* fin header */
/* main */
.main__container--section1 {
	background-color: var(--green2);
	height: 160px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section1__paragraph {
	font-size: 1.8rem;
	font-weight: 400;
	text-align: center;
	width: 50%;
	line-height: 35px;
}
.section1__paragraph a {
	color: black;
}
.main__container--section2 {
	background-color: var(--orange);
	margin-top: 35px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.section2__img {
	width: 500px;
	height: 400px;
}
