:root {
	--green1: #1e3932;
	--green2: #d4e9e2;
	--green3: #f3f1e7;
	--green4: #008248;
	--white: #f1f8f6;
	--black: #000000;
}
html {
	font-size: 62.5%;
}
/* header */
.header {
	width: 100%;
}
.header__navbar {
	width: 100%;
	height: 100px;
	display: flex;
	background-color: #1e3932;
}
.nav__container--icon {
	margin-left: 30px;
	margin-top: 20px;
}
.nav__container--icon img {
	width: 55px;
	height: 55px;
}
/* nav */
.nav__ul {
	display: flex;
	align-items: center;
}
.nav__li--container {
	display: flex;
	gap: 15px;
}
.nav__ul--li {
	list-style: none;
}
/* fin nav */

/* fin header */
