:root {
	--green1: #1e3932;
	--green2: #d4e9e2;
	--green3: #f3f1e7;
	--green4: #008248;
	--white: #f1f8f6;
	--white1: #ffffff;
	--black: #000000;
}
html {
	font-size: 62.5%;
	font-family: sans-serif;
}
/* header */
.header {
	width: 100%;
}
.header__navbar {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--white1);
}
.nav__container--nav1 {
	display: flex;
	align-items: center;
	gap: 30px;
}
.nav__container--nav1:nt {
	font-size: 30px;
}
.nav__container--nav1 img {
	width: 55px;
	height: 55px;
	margin-left: 30px;
}
/* nav */
.nav__container--nav2 {
	display: flex;
	justify-content: end;
	align-items: center;
}

.nav__ul--li {
	list-style: none;
	font-size: 1.4rem;
	font-weight: bold;
}
/* fin nav */

/* fin header */
